/* FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(135deg, #fde2e4, #dbe7e4);
    color: #5c4d5c;
}


header {
    background: white;
    text-align: center;
    padding: 25px;
    box-shadow: 0 3px 10px #ccc;
}

h1 {
    color: #6d597a;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: #5c4d5c;
    background: #f5e9f2;
    padding: 10px 18px;
    border-radius: 20px;
}

nav a:hover {
    background: #cdb4db;
    color: white;
}

main {
    width: 85%;
    max-width: 900px;
    margin: 40px auto;
}

section,
article {
    background: white;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 15px #ccc;
}

h2 {
    color: #6d597a;
}

h3 {
    color: #9b7baa;
}

p {
    line-height: 1.6;
}

ul,
ol {
    line-height: 1.8;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
}

img:hover {
    transform: scale(1.03);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background: #cdb4db;
    color: white;
}

tr:nth-child(even) {
    background: #faf2f6;
}

label {
    font-weight: bold;
    color: #6d597a;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
}

textarea {
    resize: vertical;
}

input[type="checkbox"] {
    width: auto;
}

input[type="submit"] {
    width: auto;
    display: block;
    margin: 20px auto;
    padding: 12px 30px;

    background: #cdb4db;
    color: white;

    border: none;
    border-radius: 20px;

    cursor: pointer;
}

input[type="submit"]:hover {
    background: #ffb5a7;
}

footer {
    text-align: center;
    padding: 25px;
    background: white;
    color: #6d597a;
}
@media (max-width: 600px) {

    main {
        width: 95%;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        display: block;
    }
}